.about {
  padding-top: 160px;
  padding-bottom: 100px;
}

.about__header {
  margin-bottom: 95px;
  display: flex;
  align-items: center;
  max-width: 630px;
  width: 100%;
  justify-content: space-between;
}
