.triangles {
  margin-top: -120px;
  display: flex;
  color: #fff;
  
  &--top {
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: 0;
  }
  
}

.triangles__item {
  width: 50%;
  display: block;
  height: 120px;
  fill: currentColor;
}

.triangles__single{
  width: 100%;
  display: block;
  height: 90px;
  fill: currentColor;
}
