script(type="text/x-template")#slider
  .works__wrapper
    .works__left
      slider-main()
    .works__right
      slider-info()

script(type="text/x-template")#slider-main
  .works-slider
      .works-slider__active
        .works-slider__number 4
        +image(`worksPreview/1.jpg`,'works-slider__active-img')   
        slider-preview()  
      slider-controlls()  

script(text="text/x-template")#slider-controlls
  .works-slider__controls
    .works-slider__btn.works-slider__btn--up
      +icon('arrow-down','works-slider__icon')
    .works-slider__btn.works-slider__btn--down
      +icon('arrow-down','works-slider__icon') 
script(type="text/x-template")#slider-preview
  .works-slider__preview
        - for(let i =4;i>0;i--)
        +image(`worksPreview/${i}.jpg`,`works-slider__preview-item
            ${i == 1 ? 'works-slider__preview-item--active' : ''}`)
script(type="text/x-template")#slider-info
    div
      slider-tag()
      h3.works__subtitle Сайт школы образования
      .works__desc
        p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
      a.works__link(href="#") Посмотреть сайт            
script(type="text/x-temolate")#slider-tag
  .works__tags
    span.works__tag HTML
    span.works__tag CSS
    span.works__tag Javascript