include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    main
      .top-wrapper
        header.header
          .container
            .logo ВА
            nav.header__nav
              ul.main-menu
                li.main-menu__item
                  a.main-menu__link(href="#" title="Главная") Главная
                li.main-menu__item
                  a.main-menu__link(href="#" title="Обо мне") Обо мне
                li.main-menu__item
                  a.main-menu__link(href="#" title="Навыки") Навыки
                li.main-menu__item
                  a.main-menu__link(href="#" title="Работы") Работы
                li.main-menu__item
                  a.main-menu__link(href="#" title="Отзывы") Отзывы
                li.main-menu__item
                  a.main-menu__link(href="#" title="Связаться") Связаться
            .social-list
              a.social-list__link(href='#')
                +icon('insta', 'social-list__icon')
              a.social-list__link(href='#')
                +icon('vk', 'social-list__icon')
              a.social-list__link(href='#')
                +icon('github', 'social-list__icon')
        section.hero
          .hero__subtitle Личный сайт<br>веб разработчика
          h1.hero__title Величко<br>Александр
          .hero__scroll
            | Скролл
            +icon('scroll', 'hero__icon')
        section.hello
          .hello__wrapper
            .hello__left
              .avatar.hello__avatar
                +image('content/user.jpg', 'avatar__img')
              .about-info.hello__info
                .about-info__item
                  .about-info__label Проживаю:
                  .about-info__value Мариуполь
                .about-info__item
                  .about-info__label Возраст:
                  .about-info__value 27
                .about-info__item
                  .about-info__label Родился:
                  .about-info__value 1 января 1991
            .hello__right
              .hello__subtitle Привет, меня зовут
              .hello__title  Величко Александр
              .hello__desc
                p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
              .hello__desclaimer
                p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
      section.skills
        .container
          .skills__title Чем я могу быть полезен вам
          .skills__desc
            p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
          .skills__wrapper
            .skills-list.skills__list
              .skills-list__title Front-end
              .skills-list__row
                .skills-list__item
                  .skills-list__wrapper
                    .skills-list__item-title HTML5
                .skills-list__item
                  .skills-list__wrapper
                    .skills-list__item-title CSS3
                .skills-list__item
                  .skills-list__wrapper
                    .skills-list__item-title Javascript
                .skills-list__item
                  .skills-list__wrapper
                    .skills-list__item-title Jquery и Vue.js
              .skills-list__title Workflow
              .skills-list__row
                .skills-list__item
                  .skills-list__wrapper
                    .skills-list__item-title GIT
                .skills-list__item
                  .skills-list__wrapper
                    .skills-list__item-title Terminal
                .skills-list__item
                  .skills-list__wrapper
                    .skills-list__item-title Gulp
                .skills-list__item
                  .skills-list__wrapper
                    .skills-list__item-title Webpack


